@mixin notification($background-color, $color, $border) {
	width: 99%;
	height: 35px;
	text-align: center;
	padding-top: 10px;
	font-size: 1.2em;
	font-family: Verdana;
	border-radius: 3px;
	margin: 10px;
	background-color: $background-color;
	color: $color;
	border: $border;
}

.error {
	@include notification($background-color: DarkRed, $color:white, $border: 1px solid LightSlateGray);
}

.success {
	@include notification($background-color: MediumSeaGreen, $color: MintCream, $border: 1px solid LightSalmon);
}

.warning {
	@include notification($background-color: MediumSeaGreen, $color: Mintcream, $border: 1px solid Lightsalmon);
}


