@mixin flexgen($jc: 0, $f: 0, $fd: 0, $ai: 0) {
	display: flex;
	@if $jc != 0 {
		justify-content: $jc;
	} 
	@if $f !=  0 {
		flex: $f;
	}
	@if $fd != 0 {
		flex-direction: $fd;
	}
	@if $ai != 0 {
		align-items: $ai;
	}	
}

.container {
	@include flexgen();
	.item {
		@include flexgen($f: 1, $jc: space-between);
		border: 1px solid grey;
		border-radius: 5px;
		margin-bottom: 10px;
		.content {
			@include flexgen();
			.metadata {
				@include flexgen($fd: column, $jc: center);
				margin-left: 20px;
				.title {
					margin: 0px;
				}
			}
		}
		.btn-group {
			@include flexgen($ai: center);
			.button {
				height: 100%;
				width: 42px;
				@include flexgen($ai: center, $fd: row, $jc: center);
				font-size: 2em;
				a {
					color: green;
					text-decoration: none;
				}
				&:hover {
					background-color: maroon;
					cursor: pointer;
					a {
						color: white;
					}
				}
			}
		}
	}
}


